@model InventoryManagementSystem.Models.PaymentProviderModels.MPG

@{
    ViewData["Title"] = "確認付款";
}


<div class="row justify-content-center">
    <div class="col-xl-6 col-12">
        <div class="card">
            <h1 class="card-header h3 text-center">付款確認</h1>
            <form class="card-body"
                  method="post"
                  action="https://ccore.newebpay.com/MPG/mpg_gateway">
                @* 送給藍星的資料，隱藏起來 *@
                <input type="text"
                       name="MerchantID"
                       value="@Model.MerchantID"
                       hidden
                       readonly />
                <input type="text"
                       name="TradeInfo"
                       value="@Model.TradeInfo"
                       hidden
                       readonly />
                <input type="text"
                       name="TradeSha"
                       value="@Model.TradeSha"
                       hidden
                       readonly />
                <input type="text"
                       name="Version"
                       value="@Model.Version"
                       hidden readonly />

                @* 顯示用的資料，不賦予 name *@
                <div class="form-group">
                    <label for="amt">應付金額</label>
                    <input id="amt"
                           class="form-control"
                           type="number"
                           readonly
                           value="@ViewData["Price"]" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary form-control" type="submit">付款</button>
                </div>
                <div id="btnBack"
                     class="form-group">
                    <button class="btn btn-secondary form-control" type="button">返回</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let btnBack = document.getElementById("btnBack");
    btnBack.addEventListener("click", (e) => {
        history.back();
    });
</script>

